input {
	height: 2rem;
	font-size: 1.1rem;
}
label {
	font-size: 1.1rem;
	font-family: $header-font;
}
textarea {
	font-size: 1.1rem;
	height: 4rem;
}

.btn-submit {
	display: block;
	width: 100%;
	line-height: 2;
	font-size: 1.1rem;
	font-family: $header-font;
	background: $primary-color;
	color: #fff;
	padding: 0 2.4em;
	cursor: pointer;
	height: 2.2rem;
	border: none;
	outline: none;
	text-transform: uppercase;
	border-radius: 0;
}

.stacked-form {
	// @include clearfix();
  &:after {
    content: "";
    display: table;
    clear: both;
  }
	.form-group {
		padding: 0.3rem 1rem;
		label {
			width: 100%;
			display: block;
		}
		input {
			width: 100%;
		}
		textarea {
			width: 100%;
		}
	}
}

.alert {
    padding: 15px;
    margin-bottom: 22px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert > p, .alert > ul {
    margin-bottom: 0;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}