.single-work {
	.blogheader {
		h1 small {
			max-width: 17em;
			float: right;
		}
	}
	.work-img {
		float: left;
		width: 100%;
		padding-top: 0.5em;
		@include bp(sm) {
			width: 50%;
			padding-right: 1em;
		}
	}
}