.homeheader {
	background-image: url("/assets/img/home-banner.jpg");
	background-size: cover;
	background-position: center center;
	background-color: #444;
	background-repeat: no-repeat;
	color: #fff;
	h1 {
		text-align: right;
		padding: 3rem 1rem;
		background-color: rgba($primary-color, 0.3);
		transition: 0.3s ease-in-out all;
		@include bp(sm) {
			padding-right: 3rem;
		}
		span {
			display: block;
			color: #fff;
		}
		small {
			font-size: 1.5rem;
			display: block;
			line-height: 1.2;
			letter-spacing: 0.07em;
		}
	}
}

section {
	margin: 1em 0;
}

.homeabout {
	@extend .container;
	.img-wrap {
		@extend .col-1-4;
		margin-left: -999em;
		float: left;
		margin-top: 1.6em;
		border-radius: 50%;
		overflow: hidden;
		max-width: 18em;
		@include bp(sm) {
			margin-left: 0;
		}
		@include bp(md) {
			margin-top: 0;
		}
	}
	.text-wrap {
		@include bp(sm) {
			float: left;
			width: 75%;
			padding-left: 2em;
			max-width: 40em;
		}
	}
}

.homecontent {
	@extend .container;
	.strength-list {
		padding-left: 2em;
		border-left: 1em solid $header-font-color;
		@include bp(sm) {
			border-left: 2em solid $header-font-color;
		}
	}
}