.page-header {
	background-size: cover;
	background-position: center center;
	background-color: #444;
	background-repeat: no-repeat;
	color: #fff;
	overflow: hidden;
	.title-wrap {
		overflow: hidden;
		width: 100%;
		background-color: rgba($primary-color, 0.7);
		@include bp(sm) {
			max-width: 70%;
			float: right;
		}
	}
	h1 {
		text-align: right;
		padding-top: 3rem;
		padding-right: 1rem;
		transition: 0.3s ease-in-out all;
		@include bp(sm) {
			padding-right: 3rem;
			padding-left: 1rem;
		}
		span {
			display: block;
			color: #fff;
		}
		small {
			font-size: 1.5rem;
			display: block;
			line-height: 1.2;
			letter-spacing: 0.07em;
		}
	}
	h2 {
		text-align: right;
		padding-right: 1rem;
		padding-bottom: 3rem;
		@include bp(sm) {
			padding-right: 3rem;
			padding-left: 1rem;
		}
	}
}