.homeheader {
  background-image: url("/assets/img/headers/man-working-in-modern-office.jpg");
	background-size: cover;
	background-position: center center;
	background-color: #fff;
	background-repeat: no-repeat;
	color: #444;
  min-height: 80vh;
  display: flex;
  justify-content: flex-end;
  .title-wrap {
    align-self: center;
  }
	h1 {
		text-align: right;
		padding: 3rem 1rem;
		transition: 0.3s ease-in-out all;
    color: #444;
    @media (min-width: 1350px) {
      font-size: 7.4rem;
    }
		@include bp(sm) {
			padding-right: 3rem;
		}
		span {
			display: block;
			color: #444;
		}
		small {
			font-size: 1.5rem;
			display: block;
			line-height: 1.2;
			letter-spacing: 0.07em;
		}
	}

  h2 {
    text-align: right;
    padding-right: 1em;
  }
}
